// colors
$main: #9395D3;
$secondary: #B3B7EE;
$white: #FFFFFF;
$black: #000000;
$grey: #DDDCDC;

// font
$font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// font-weight
$font-regular: regular;
$font-bold: bold;

// font-size
$font-s: 12px;
$font-m: 16px;
$font-l: 20px;
$font-xl: 24px;
$font-xxl: 36px;


// spacing
$spacing: 8px;


