@import "variables";

.base {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background: $grey;
  }
}

.regular {
  background: $main;
  color: $white;
  text-transform: uppercase;
  font-weight: $font-bold;
  border-radius: $spacing * 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: $spacing $spacing * 1.5;

  &:hover {
    filter: brightness(0.8);
  }
}

.icon {
  width: $spacing * 4;
  height: $spacing * 4;
  border-radius: $spacing;
  transition: background-color .3s ease-in-out;
  background-color: $white;
  color: $main;
  padding: $spacing * 0.5;

  &:hover {
    background-color: $grey;
  }
}
